* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-weight: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;

}
.page-header-logo {
    font-style: normal;
    text-decoration: none;
    color: #000000;
    font-size: 80px;
    line-height: 94px;

}
.page-header-logo span {
    color: deepskyblue;
}

.page-header-menu {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    list-style: none;
    color: #FFFFFF;
    background-color: #35444F;

}

.header-menu-item {
    padding: 26px 19px;
  border-left: 1px solid white;

}
.br {
    border-right: 1px solid white;
}
.main {
    display: flex;
    justify-content: space-between;
}

.asidebar-menu {
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    justify-content: flex-start;

}
.asidebar-menu-item {
    list-style: none;
    font-size: 27px;
    line-height: 27px;
    padding: 26px  30px 44px;
    color: #485863;
}
.main-content {
    width: 885px;
}

.main-content-info {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-photo {
    padding: 75px 268px 73px 297px;
}

.main-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;

}
.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 54px 0;
    border: 1px solid #3181A6;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu-list {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    width: 875px;
}
.footer-menu-item{
    justify-content: space-between;
    font-size: 28px;
    font-style: normal;
    line-height: 28px;
    color: #0C1927;
}
.copyright-info {
margin-right: 40px;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
}
.footer-menu-link {
    text-decoration: none;
}

.link-line {
    text-decoration: none;
    border-bottom: 1px  #3181A6 solid;
    padding-bottom: 13px;
}

